extends layout

block content
  h1= title
  form(method='POST' action='/movies/modify')
    input(type='hidden' name='movie_id' value=movie.movie_id)
    p 영화제목:
      input(type='text' name='title' value=movie.title)
    p
      영화감독:
      input(type='text' name='director' value=movie.director)
    p
      제작연도:
      input(type='text' name='year' value=movie.year)
    p
      영화줄거리:
      textarea(cols='50' rows='10' name='synopsis') #{movie.synopsis}
    p
      input(type='submit' value='수정')